<a href="https://colab.research.google.com/github/Marcin19721205/IntroductionToBigDataWSB/blob/main/Zadanie_Nr17_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#stack import
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [9]:
#sprawdzamy wczytanie
df = pd.read_csv('sample_data/Bank_Personal_Loan_Modelling_MJ.csv',sep=';')
df.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,NaN,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,dwa,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

In [14]:
#sprawdzam typ danych
""" widać że eductation jest źle
    specjalnie dołożyłem tam NaN oraz zmienną tekstową
"""
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           4999 non-null   object
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(12), object(1)
memory usage: 547.0+ KB

In [24]:
#Zapisuje ile było danych przed czyszczeniem
n_before = len(df)

#Konwersja wszystkiego na numeryczne (śmieci → NaN)
df_numeric = df.apply(pd.to_numeric, errors='coerce')

#Szukamy wierszy, które zawierają jakikolwiek syf (NaN po konwersji)
mask_bad = df_numeric.isna().any(axis=1)

#Podsumowanie: co wycinamy
removed_rows = df[mask_bad].copy()   # oryginalne wartości (jeszcze przed konwersją)

#Wyrzucamy śmieci
df_clean = df_numeric.dropna()

#Podsumowanie ilościowe ---
n_after = len(df_clean)
n_removed = n_before - n_after

print("======= PODSUMOWANIE CZYSZCZENIA =======")
print(f"Liczba wierszy przed czyszczeniem:  {n_before}")
print(f"Liczba wierszy po czyszczeniu:      {n_after}")
print(f"Usunięto wierszy:                   {n_removed}")
print("\nWiersze usunięte (zawierały dane nienumeryczne lub NaN):")
print(removed_rows.head(20))  # pokazujemy maks 20, żeby nie zalać ekranu

# gotowy czysty dataset:
df_clean.head()
print('===============INFO======================')
df_clean.info()
df_clean.head(10)

======= PODSUMOWANIE CZYSZCZENIA =======
Liczba wierszy przed czyszczeniem:  4999
Liczba wierszy po czyszczeniu:      4998
Usunięto wierszy:                   1

Wiersze usunięte (zawierały dane nienumeryczne lub NaN):
   ID  Age  Experience  Income  ZIP Code  Family  CCAvg Education  Mortgage  \
5   6   37          13      29     92121       4    0.4       dwa       155

   Personal Loan  Securities Account  CD Account  Online  CreditCard
5              0                   0           0       1           0
===============INFO======================
<class 'pandas.core.frame.DataFrame'>
Index: 4998 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  4998 non-null   int64
 1   Age                 4998 non-null   int64
 2   Experience          4998 non-null   int64
 3   Income              4998 non-null   int64
 4   ZIP Code            4998 non-null   int64
 5   Family              4998 non-null   int64
 6   CCAvg               4998 non-null   float64
 7   Education           4998 non-null   float64
 8   Mortgage            4998 non-null   int64
 9   Personal Loan       4998 non-null   int64
 10  Securities Account  4998 non-null   int64
 11  CD Account          4998 non-null   int64
 12  Online              4998 non-null   int64
 13  CreditCard          4998 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 585.7 KB

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1.0,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1.0,0,0,1,0,0,0
3,4,35,9,100,94112,1,2.7,2.0,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2.0,0,0,0,0,0,1
6,7,53,27,72,91711,2,1.5,2.0,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3.0,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2.0,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3.0,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3.0,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2.0,0,0,0,0,1,0

In [25]:
#statystyka danych z usunietymi śmieciami
df_clean.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,4998.0,2501.498800,1442.944732,1.0,1252.25,2501.5,3750.75,5000.0
Age,4998.0,45.341337,11.464502,23.0,35.00,45.0,55.00,67.0
Experience,4998.0,20.107043,11.469581,-3.0,10.00,20.0,30.00,43.0
Income,4998.0,73.795718,46.030014,8.0,39.00,64.0,98.00,224.0
ZIP Code,4998.0,93152.395758,2122.110762,9307.0,91911.00,93437.0,94608.00,96651.0
Family,4998.0,2.396359,1.147498,1.0,1.00,2.0,3.00,4.0
CCAvg,4998.0,1.938433,1.747823,0.0,0.70,1.5,2.50,10.0
Education,4998.0,1.889356,0.963390,1.0,1.00,2.0,3.00,34.0
Mortgage,4998.0,56.490396,101.721471,0.0,0.00,0.0,101.00,635.0
Personal Loan,4998.0,0.096038,0.294673,0.0,0.00,0.0,0.00,1.0
Securities Account,4998.0,0.104442,0.305863,0.0,0.00,0.0,0.00,1.0
CD Account,4998.0,0.060424,0.238295,0.0,0.00,0.0,0.00,1.0
Online,4998.0,0.596839,0.490582,0.0,0.00,1.0,1.00,1.0
CreditCard,4998.0,0.294118,0.455691,0.0,0.00,0.0,1.00,1.0

uwaga w Eductation wartość jest poza zakresem
wstawiłem 34. szukam wartości > 5 i jezeli są, wstawiam tam zero i wrzucam floor ze sredniej

In [27]:
# 1. średnia prawidłowych wartości (1–4)
valid_mean = df_clean.loc[df_clean['Education'].between(1, 4), 'Education'].mean()
floor_mean = int(np.floor(valid_mean))

# 2. wartości poza zakresem (>4) zamieniamy na 0
df_clean.loc[df_clean['Education'] > 4, 'Education'] = 0

# 3. zamieniamy 0 na floor ze średniej
df_clean.loc[df_clean['Education'] == 0, 'Education'] = floor_mean

# 4. finalny typ
df_clean['Education'] = df_clean['Education'].astype(int)

df_clean['Education'].value_counts()

/tmp/ipython-input-543950485.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Education'] = df_clean['Education'].astype(int)

Education
1    2096
3    1500
2    1402
Name: count, dtype: int64

In [28]:
df_clean.info()
df_clean.head(10)
df_clean.describe().T

<class 'pandas.core.frame.DataFrame'>
Index: 4998 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  4998 non-null   int64
 1   Age                 4998 non-null   int64
 2   Experience          4998 non-null   int64
 3   Income              4998 non-null   int64
 4   ZIP Code            4998 non-null   int64
 5   Family              4998 non-null   int64
 6   CCAvg               4998 non-null   float64
 7   Education           4998 non-null   int64
 8   Mortgage            4998 non-null   int64
 9   Personal Loan       4998 non-null   int64
 10  Securities Account  4998 non-null   int64
 11  CD Account          4998 non-null   int64
 12  Online              4998 non-null   int64
 13  CreditCard          4998 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 585.7 KB

,count,mean,std,min,25%,50%,75%,max
ID,4998.0,2501.498800,1442.944732,1.0,1252.25,2501.5,3750.75,5000.0
Age,4998.0,45.341337,11.464502,23.0,35.00,45.0,55.00,67.0
Experience,4998.0,20.107043,11.469581,-3.0,10.00,20.0,30.00,43.0
Income,4998.0,73.795718,46.030014,8.0,39.00,64.0,98.00,224.0
ZIP Code,4998.0,93152.395758,2122.110762,9307.0,91911.00,93437.0,94608.00,96651.0
Family,4998.0,2.396359,1.147498,1.0,1.00,2.0,3.00,4.0
CCAvg,4998.0,1.938433,1.747823,0.0,0.70,1.5,2.50,10.0
Education,4998.0,1.880752,0.839886,1.0,1.00,2.0,3.00,3.0
Mortgage,4998.0,56.490396,101.721471,0.0,0.00,0.0,101.00,635.0
Personal Loan,4998.0,0.096038,0.294673,0.0,0.00,0.0,0.00,1.0
Securities Account,4998.0,0.104442,0.305863,0.0,0.00,0.0,0.00,1.0
CD Account,4998.0,0.060424,0.238295,0.0,0.00,0.0,0.00,1.0
Online,4998.0,0.596839,0.490582,0.0,0.00,1.0,1.00,1.0
CreditCard,4998.0,0.294118,0.455691,0.0,0.00,0.0,1.00,1.0